
/ === Breadcrumbs ===
.breadcrumbs.margin-bottom-40
  .container
    %h1.color-green.pull-left Privacy Policy
    %ul.pull-right.breadcrumb
      %li
        %a{:href => "/"} Home
        %span.divider
      %li.active Privacy Policy
  / /container
/ /breadcrumbs
/ === End Breadcrumbs ===
/ === Content Part ===
.container
  .row.privacy
    %h4 Politician’s information
    %p Politk.com features information about politicians that is publicly available through government websites and also, from suggestions by the users on the website. Therefore, we are not liable for any erroneous information posted on the Website.
    %br/
    %h4 Politician’s section of his/her profile
    %p We will not post anything on the politician’s section of his/her profile unless we have verified their identity. Only the politician will be able to use the section to post.
    %br/
    %h4 Your information
    %p At the time of signing-up, you provide your name and email address. Other information that you choose to share include your profile picture, posts, comments and politicians and users that you follow. Your name, profile picture, posts, comments, politicians and users that you follow and edits to a politician’s profile  are treated like information that you choose to make public.
    %br/
    %h4 Non-personally-identifying information
    %p Like most website operators, Politk.com also collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Politk.com’s purpose in collecting non-personally identifying information is to better understand how Politk.com’s visitors use its website. From time to time, Politk.com may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
    %p Politk.com also collects potentially personally-identifying information like Internet Protocol (IP) addresses. Politk.com does not use such information to identify its visitors, however, and does not disclose such information, other than under the same circumstances that it uses and discloses personally-identifying information, as described below.
    %br/
    %h4 Aggregated Statistics
    %p Politk.com may collect statistics about the behavior of visitors to its websites. However, Politk.com does not disclose personally-identifying information other than as described below.
    %br/
    %h4 Correspondence from Politk.com
    %p If you are a registered user of a Politk.com website and have supplied your email address, Politk.com may occasionally send you an email to tell you about activity on the Website linked to your account, posts or comments,  new features, solicit your feedback, or just keep you up to date with what’s going on with Politk.com and our products. We primarily use our blog to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users.
    %br/
    %h4 Cookies
    %p A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. Politk.com uses cookies to help Politk.comidentify and track visitors, their usage of Politk.com website, and their website access preferences. Politk.com visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Politk.com, with the drawback that certain features of Politk.com’s websites may not function properly without the aid of cookies.
    %br/
    %h4 Privacy Policy Changes
    %p Although most changes are likely to be minor, Politk.com may change its Privacy Policy from time to time, and in Politk.com’s sole discretion. Politk.com encourages visitors to frequently check this page for any changes to its Politk.com. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.
    %br/
    %h4 License
    %p
      %a{:href => "http://creativecommons.org/licenses/by/3.0/deed.en_US", :rel => "license"}
        %img{:alt => "Creative Commons License", :src => "http://i.creativecommons.org/l/by/3.0/88x31.png", :style => "border-width:0"}/
      %br/
      %span{:property => "dct:title", "xmlns:dct" => "http://purl.org/dc/terms/"} Politk's Privacy Policy
      is licensed under a
      = succeed "." do
        %a{:href => "http://creativecommons.org/licenses/by/3.0/deed.en_US", :rel => "license"} Creative Commons Attribution 3.0 Unported License
    %br/
  / /row
/ /container
/ === End Content Part ===